<div class="product-add">
  <h1>Add Product</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Product Name:</label>
      <input type="text" id="productname" name="productname" (ngModel)="newProduct.productname" class="form-control"
        required>
    </div>
    <div class="form-group">
      <label for="Category">Product Category:</label>
      <input type="text" id="category" name="category" (ngModel)="newProduct.category" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="price">Product Price:</label>
      <input type="number" id="price" name="price" (ngModel)="newProduct.price" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="qty">Product Quantity:</label>
      <input type="number" id="qty" name="qty" (ngModel)="newProduct.qty" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="description">Product Description:</label>
      <textarea id="description" name="description" (ngModel)="newProduct.description" class="form-control"
        required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Add Product</button>
  </form>
</div>